
<h1>New Flight</h1>
<form action="/flights" method="POST">
  <div>
    <label for="airline">Airline:</label>
    <input type="text" name="airline" id="airline" required>
  </div>
  <div>
    <label for="flightNo">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo" required>
  </div>
  <div>
    <label for="departs">Departure Date and Time:</label>
    <input type="datetime-local" name="departs" id="departs"
